
.form {
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    width: 40vw;
    height: 30vw;
    margin: auto;
    margin-top: 6vw;
    padding: 2vw;
  }

  .submit01 {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 1vw;
    margin-top: 1vw;
    margin: auto;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 20vw;
    font-size: 1.5vw;
    transition: 0.5s ease-out;
  }
  
img{
  width: 40vw;
}
